<div class="box">
	<%= link_to (image_tag pin.image(:medium)), pin %>
	<p class="description">
		<%= pin.description %>
	</p>
	<p>
		<strong>
			Posted by <%= pin.user.username %>
		</strong>
	</p>
	<% if current_user == pin.user %>
		<p>
			<%= link_to '<i class="icon-pencil"></i> Edit'.html_safe, edit_pin_path(pin) %>
			<%= link_to '<i class="icon-remove"></i> Destroy'.html_safe, pin, confirm: 'Are you sure?', method: :delete %>
		</p>
	<% end %>
</div>
